<script>
    import { link } from "svelte-spa-router";
    import active from "svelte-spa-router/active";
   
    const sum = (a, b) => {
    return a + b;
};
const logName = (fn) => {

    return (...args) => {
       console.log(`Call function "${fn.name}"`);
        return fn(...args);
    }
}
 

const wrappedSum = logName(sum);
const result = wrappedSum(2, 3);
console.log(result); 
alert(logName)
</script>

<ul class="left-menu">
    <li><a href="/pagetwo/art_2_1" use:link use:active> Пункт 2-1</a></li>
    <li><a href="/pagetwo/art_2_2" use:link use:active> Пункт 2-2</a></li>
</ul>
<div>alert(logName)</div>
<style>
    .left-menu {
        list-style: none;
        margin: 20px 0;
        padding: 0;
    }
</style>
